@charset "utf-8";
/* CSS Document */
#nav {
	width: 726px;
	height: 30px;
	position: relative;
	background:url(nav_main.png);
	margin: 0;
	padding: 0;
	list-style-type:none;
	margin-bottom:10px;
}

#nav li {
	float: left;
}

#nav li a {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	height: 30px;
	background: url(nav_main.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

/*up state*/
li#nav_home a {
	left: 0;
	width: 97px;
	background-position: 0 0;
}

li#nav_services a {
	left: 97px;
	width: 97px;
	background-position: -97px 0;
}

li#nav_references a {
	left: 194px;
	width: 97px;
	background-position: -194px 0;
}

li#nav_contact a {
	left: 291px;
	width: 97px;
	background-position: -291px 0;
}

/*hover state*/
li#nav_home a:hover {
	background-position: 0 -30px;
}

li#nav_services a:hover {
	background-position: -97px -30px;
}

li#nav_references a:hover {
	background-position: -194px -30px;
}

li#nav_contact a:hover {
	background-position: -291px -30px;
}

/*current state*/
#body_home li#nav_home a{
	background-position: 0 -30px;
}

#body_services li#nav_services a {
	background-position: -97px -30px;
}

#body_references li#nav_references a {
	background-position: -194px -30px;
}
#body_contact li#nav_contact a {
	background-position: -291px -30px;
}
